{% set target = entry.id %}

{{ _self.displayAwards('Winner'|t('ff-light'), target, 'winner', false) }}

{{ _self.displayAwards('Nominee'|t('ff-light'), target, 'nominees', true) }}

{% macro displayAwards(heading, target, fieldName, wide = true) %}

    {% set entries = craft.entries
        .section('award')
        .relatedTo({targetElement: target, field: "awards.#{fieldName}"})
        .with([
            ['featuredImage'],
            ['awards', {relatedTo: {targetElement: target, field: fieldName}}]
        ])
    .collect %}

    {% if entries.count %}
        <div class="mt-8 mb-4">
            {% include '_layouts/partials/headline.twig' with {
                text: heading
            } only %}
        </div>

        {% embed '_layouts/embeds/grid.twig' with {wide: wide} %}
            {% block content %}
                {% for entry in entries %}
                    {% for block in entry.awards.all %}
                        {% embed '_layouts/embeds/card.twig' with {
                            entry,
                            block
                        } only %}
                            {% block content %}
                                {% embed '_layouts/embeds/card-text.twig' %}
                                    {% block content %}
                                        {{ block.description }}
                                    {% endblock %}
                                {% endembed %}
                            {% endblock %}
                        {% endembed %}
                    {% endfor %}
                {% endfor %}
            {% endblock %}
        {% endembed %}

    {% endif %}

{% endmacro %}
