{% set blocks = entry.awards.collect %}

{% if blocks.count() %}

    <div class="space-y-12">
        {% for block in blocks %}
        	<div>
                {% include '_layouts/partials/cards.twig' with {
                    heading: block.description ~ ': ' ~  'Winner'|t('ff-light'),
                    wide: false,
                    query: block.winner
                } only %}
            </div>
            <div>
                {% include '_layouts/partials/cards.twig' with {
                    heading: block.description ~ ': ' ~  'Nominees'|t('ff-light'),
                    wide: true,
                    query: block.nominees
                } only %}
            </div>
        {% endfor %}
    </div>
{% endif %}