{% set settings = settings ?? craft.app.plugins.plugin('ff-light').settings %}

{% set query = entry.screenings %}

{% if entry.section.handle != 'film' %}
    {% do query.andWith('films') %}
{% endif %}

{% if entry.section.handle != 'location' %}
    {% do query.andWith('locations') %}
{% endif %}

{% set screenings = query.collect %}

{% if screenings.count() %}
    <div class="mt-8 mb-4">
        {% include '_layouts/partials/headline.twig' with {
            text: 'Screenings'|t('ff-light')
        } only %}

    </div>
    <div class="flex flex-wrap">
        {% for screening in screenings %}
            {% include ff('_partials/screening.twig') with {
            	entry: screening,
                scope: entry.section.handle
            } only %}
        {% endfor %}
    </div>
    
{% endif %}