{% set settings = settings ?? craft.app.plugins.plugin('ff-light').settings %}

{% set query = entry.screenings %}

{% if entry.section.handle != 'film' %}
    {% do query.andWith('films') %}
{% endif %}

{% if entry.section.handle != 'location' %}
    {% do query.andWith('locations') %}
{% endif %}

{% set entries = query.collect %}

{% if entries.count() %}
    {% include '_layouts/partials/headline.twig' with {
        text: 'Screenings'|t('ff-light')
    } only %}

    <div class="flex flex-wrap">
        {% for entry in entries %}
            {% include ff('_partials/screening.twig') with {
            	entry
            } only %}
        {% endfor %}
    </div>
    
{% endif %}