{% embed "_layouts/embeds/widget.twig" with {heading : 'People'|t('ff-light')} %}
    {% block content %}
        {% from '_layouts/macros/lib.twig' import img %}
        {% set transform = {width: 40, height: 40, format: 'webp'} %}

        <div class="space-y-4">
            {% for list in [{heading: 'Cast'|t('ff-light'), query: entry.cast, enabled: true},
                {heading: 'Script'|t('ff-light'), query: entry.script, enabled: settings.enableScript},
                {heading: 'Camera'|t('ff-light'), query: entry.camera, enabled: settings.enableCamera},
                {heading: 'Director'|t('ff-light'), query: entry.director, enabled: true}] %}

                {% if list.enabled %}
                    {% set people = list.query
                        .with([
                            ['photo', {withTransforms: [transform]}]
                        ])
                    .collect %}

                    {% if people %}
                        <div>
                            <div class="font-semibold mb-1 text-lg">{{ list.heading }}</div>
                            <div class="space-y-2">
                                {% for person in people %}
                                    <div class="flex space-x-4 items-center">
                                        {% set photo = person.photo.one %}
                                        {% if photo %}
                                            {{ img(photo, {
                                                transform: transform,
                                                attr: {
                                                    class: 'rounded-md'
                                                }
                                            }) }}
                                        {% endif %}
                                        <div>
                                            {{ person.link }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endif %}

            {% endfor %}
        </div>
    {% endblock %}
{% endembed %}

{% include '@ff/_partials/sidebar-lists.twig' with {
    lists: [
        {heading: 'Section'|t('ff-light'), query: entry.filmSections, enabled: settings.enableSections},
        {heading: 'Competition'|t('ff-light'), query: entry.competitions, enabled: settings.enableCompetitions},
        {heading: 'Topic'|t('ff-light'), query: entry.topics, enabled: settings.enableTopics},
        {heading: 'Diaries'|t('ff-light'), query: craft.entries.section('diary').relatedTo(entry), enabled: settings.enableDiaries},
        {heading: 'News'|t('ff-light'), query: craft.entries.section('news').relatedTo(entry), enabled: true},
    ]
} only %}

{% if settings.enableSponsors %}
    {% include '@ff/_partials/sponsor-widget.twig' with {
    	query: entry.sponsors
    } only %}
{% endif %}
