{% set screeningDate = screeningDate ?? '' %}
{% set screeningTime = screeningTime ?? '' %}
{% set locationId = locationId ?? '' %}
{% set sectionId = sectionId ?? '' %}
{% set limit = limit ?? 2 %}
{% set offset = offset ?? 0 %}

{# TODO: Translation #}
{% set timeLUT = {
    morning: {label: 'vor 13:30', criteria: '< 13:30'},
    earlyAfternoon: {label: '13:30-16:30', criteria: ['and', '>= 13:30', '<= 16:30']},
    lateAfternoon: {label: '16:30-19:30', criteria: ['and', '>= 16:30', '<= 19:30']},
    evening: {label: 'nach 19:30', criteria: '> 19:30'},
} %}

{% if sprig.isInclude %}
    {% include ff('_partials/program-form.twig') %}
{% endif %}

{% set query = craft.entries
    .section('screening')
    .offset(offset)
    .limit(limit)
    .orderBy('screeningDate, screeningTime')
%}

{% if screeningDate %}
    {% do query.screeningDate(screeningDate) %}
{% endif %}
{% if screeningTime %}
    {% do query.screeningTime(timeLUT[screeningTime].criteria) %}
{% endif %}
{% if locationId %}
    {% do query.andRelatedTo(locationId) %}
{% endif %}

{% if sectionId %}
    {% do query.andRelatedTo(
        craft.entries
            .section('film')
            .relatedTo(sectionId)
            .ids
    ) %}
{% endif %}

{{ sprig.pushUrl("?screeningDate=#{screeningDate}&screeningTime=#{screeningTime}&locationId=#{locationId}&sectionId=#{sectionId}") }}

<div id="results" class="mt-4">
    {% include ff('_partials/program-screenings.twig')  %}
</div>

