{% embed '_layouts/embeds/card-text.twig' %}
    {% block content %}
        {% if entry.diaryDate %}
            <div>
                {{ entry.diaryDate|date('short') }}
            </div>
        {% endif %}
        <div class="mt-2">
            {{ entry.tagline }}
        </div>
    {% endblock %}
{% endembed %}