{% set entries = entry.screenings.collect %}

{% set section = entry.section.handle %}

{% if entries.count() %}
    {% include '_layouts/partials/headline.twig' with {
        text: 'Screenings'|t('ff')
    } only %}

    <div class="flex flex-wrap">
        {% for entry in entries %}
            <div class="mb-4 mr-4 p-8  shadow-xl {{ entry.screeningDateTime > now ? 'bg-primary' : 'bg-gray-600' }} text-white space-y-4">
                <div class="font-semibold">
                    {{ entry.screeningDateTime|datetime('short') }}
                </div>
                {% if section != 'film' %}
                    <div class="text-lg underline uppercase">
                        {% for film in entry.films %}
                            {{ film.link }}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if section != 'location' %}
                    <div>
                        {% for location in entry.locations %}
                            {{ location.link }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    
{% endif %}