{% extends "@ff/sections/default/base.twig" %}



{% block content %}

    {% embed '_layouts/embeds/content-sidebar.twig' with {showHeader: featuredImage == null, alignTitle: 'left'} %}

        {% block contentTop %}

           <div class="mt-8">
               {% include "@ff/sections/#{entry.section.handle}/content-top.twig" ignore missing with {
                   entry, settings
               } only %}
           </div>

        {% endblock %}


        {% block contentBottom %}

            {% include "@ff/sections/#{entry.section.handle}/content-bottom.twig" ignore missing with {
                entry, settings
            } only %}


        {% endblock %}

        {% block sidebarTop %}
            {% include "@ff/sections/#{entry.section.handle}/sidebar-top.twig" ignore missing with {
                entry, settings
            } only %}
        {% endblock %}

        {% block sidebar %}
            {% include '_widgets/entries-list.twig' with {
                heading: 'New'|t('ff'),
                query: craft.entries.section('news,diary').limit(3)
            } only %}
        {% endblock %}


        {% block sidebarBottom %}
            {% include "@ff/sections/#{entry.section.handle}/sidebar-bottom.twig" ignore missing with {
                entry, settings
            } only %}
        {% endblock %}

    {% endembed %}

{% endblock %}

