{# @var featuredEntries \craft\elements\ElementCollection #}
{# @var news \craft\elements\ElementCollection #}

{% from '_layouts/macros/lib.twig' import pageButton %}

<div class="">
    {% set featuredEntries = entry.featuredEntries.collect %}


    {% set news = craft.entries.section('news').limit(12 - featuredEntries.count).collect %}

   {% set entries = featuredEntries.merge(news) %}

    {% include '_layouts/partials/cards.twig' with {
        entries,
        paginate: true
    } only %}

    {{ pageButton('newsIndex', 'See all News') }}
</div>